  body {
    font-family: Arial;
  }

  ul.tree li {
      list-style-type: none;
      position: relative;
  }

  ul.tree li ul {
      display: none;
  }

  ul.tree li.open > ul {
      display: block;
  }

  ul.tree li a {
      color: black;
  }

  ul.tree li a.outlink {
      color: blue;
      text-decoration: underline;
      cursor: pointer;
  }

  ul.tree li a.instancelink {
      color: red;
      text-decoration: underline;
      cursor: pointer;
  }

  ul.tree li a:before {
      height: 1em;
      padding:0 .1em;
      font-size: .8em;
      display: block;
      position: absolute;
      left: -1.3em;
      top: .2em;
  }

  ul.tree li.node:before {
      content: '+';
  }

  ul.tree li.open.node:before {
      content: '-';
  }

 ul.tree li.node a.name {
      font-weight: bold;
  }

  ul.tree li.leaf a.name {
      font-weight: normal;
  }

    ul.tree li.leaf:before {
      content: '=>';
  }

  ul.tree li.open.leaf:before {
      content: '=>';
  }
      /* EOS */